name: Nightly

on:
  schedule:
    - cron: '53 7 1 * *'

permissions:
  contents: read

jobs:
  linux:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install cabal/ghc
      run: |
        ghcup install ghc --set 8.10.7
        ghcup install cabal --set 3.2

    - name: Install dependencies
      run: |
          ghc --version
          cabal --version
          cabal v2-update
          cabal v2-build --dependencies-only -fembed_data_files -fnightly pandoc-cli
    - name: Build
      run: |
          cabal v2-install -fembed_data_files -fnightly pandoc-cli
          strip $HOME/.cabal/bin/pandoc
    - name: Install artifact
      run: |
          export ARTIFACTS=nightly-linux/pandoc-nightly-linux-$(date +%Y-%m-%d)
          mkdir -p ${ARTIFACTS}
          cp $HOME/.cabal/bin/pandoc ${ARTIFACTS}/
          cp COPYRIGHT ${ARTIFACTS}/
          echo "Built from ${GITHUB_SHA}" > ${ARTIFACTS}/README.nightly.txt
    - uses: actions/upload-artifact@v3
      with:
        name: nightly-linux
        path: nightly-linux

